#app {
  width: 100vw;
  height: 1080px;
  // overflow-x: hidden;
  .top {
    width: 100%;
    position: relative;
    height: 79px;
    .top-title {
      position: absolute;
      top: -46px;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
      font-size: 42px;
      font-weight: bold;
      padding-top: 10px;
      color: #00cdff;
      @include set-bg-img;
      width: 1207px;
      height: 158px;
      background-image: url("~@/img/top-title2.png");
    }

    .top-date,
    .left-desc {
      width: 705px;
      height: 135px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include set-bg-img;
      position: absolute;
      bottom: -34px;
      z-index: 2;
    }
    .left-desc {
      left: -10px;
      background-image: url("~@/img/top-left.png");
    }
    .top-date {
      right: -10px;
      background-image: url("~@/img/top-right.png");
    }
    .left-desc,
    .top-date {
      .date-timing {
        width: 528px;
        height: 34px;
        padding-left: 388px;
        font-size: 34px;
        line-height: 34px;
        font-weight: bold;
        color: #70e6cc;
        margin-top: 8px;
      }
      .date-detail {
        width: 120px;
        height: 16px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        color: #61CAF9;
        display: flex;
        margin-top: 6px;
        margin-left: 10px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        p:first-child {
          margin-bottom: 4px;
        }
        p:last-child{
          font-size: 14px;
        }
      }
    }
    .left-desc .date-timing{
      width: 208px;
      padding-left: 66px;
    }
  }
  .cont {
    padding: 24px 38px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left-box,
    .right-box {
      width: 468px;
      .item-box-wrapper + .item-box-wrapper {
        margin-top: 22px;
      }
    }
    .content-box {
      width: 856px;
      .content-box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
        
        &.content-box-top2 {
          justify-content: center;
        }
      }
      .content-box-cont {
        width: 856px;
        height: 246px;
        box-sizing: border-box;
        // width: 862px;
        // height: 801px;
        @include set-bg-img;
        background-image: url("~@/img/map-bg.png");
        .content-box-cont-title {
          padding: 24px 0 44px;
          height: 24px;
          font-size: 24px;
          font-weight: bold;
          color: #7dd8fd;
          line-height: 24px;
          text-align: center;
        }
        .content-box-cont-show-num {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        &.content-box-cont2 {
          height: 396px;
          margin-top: 22px;
        }
      }
    }

    .left-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
