// 公共样式
div {
  box-sizing: border-box;
}

* {
  user-select: none;
}
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.btn {
  width: 30vw;
  height: 8vw;
  background-color: #fff;
  border-radius: 1vw;
  font-size: 14px;
  color: #000;
  font-weight: 500;
}