html {
  height: 100%;
}
body {
  font-family: "Open Sans", "Segoe UI";
  font-size: 13px;
  color: #444;
  height: 100%;
  margin: 0px;
}
#app {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #eee;
}
.btn {
  width: 30vw;
  height: 8vw;
  background-color: #fff;
  border-radius: 1vw;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  border: 0 none;
}
.back {
  width: 4vw;
  height: 4vw;
  @include set-bg-img;
  background-image: url("../image/back.png");
  position: fixed;
  top: 5vw;
  left: 5vw;
  &::before {
    content: "";
    display: inline-block;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}